*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  color: white;
  font-size: 45px;
  background-color: rgba(0, 0, 0, .75);
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 100px;
}

.keyboard {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
}

.keyboard>button {
  transition: all 0.2s linear;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.span-two {
  grid-column: span 2;
}

.keyboard>button:hover {
  background-color: rgba(209, 209, 209, 0.75);
}

.keyboard>.equals:hover {
  background-color: rgba(219, 99, 0, 1);
}

.keyboard>.AC:hover {
  background-color: rgba(255, 0, 0, 1);
}
