.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.container {
  display: flex;
  justify-content: space-around;
}

blockquote {
  font-size: 3rem;
  text-align: center;
}

.home {
  width: 100%;
}
